{% extends 'base.html' %}
{% load static %}

{% block title %}
Энциклопедия
{% endblock %}

{% block content %}
<div class="wiki">
    <div class="img"></div>
    <div class="content">
        <h1>
            Энциклопедия - <br> всё о сити-ферме в одном месте
            <img class="green-1" src="{% static 'img/green-1.png' %}">
        </h1>
        <small>
            Выберете подходящий раздел и ознакомьтесь с обучающей статьёй
        </small>
        {% for section in object_list %}
            <div class="section">
                <h1>
                    {{ section.number }}. {{ section.name }}
                </h1>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}