{% extends 'base.html' %}
{% load static %}

{% block title %}
Энциклопедия
{% endblock %}

{% block content %}
<div class="wiki-category">
    <div class="content">
        <h1>
            Выберите категорию обучения
        </h1>
        <small>
            Для каких целей вам энциклопедия
        </small>
    </div>
    <div class="category-list">
        {% for category in object_list %}
            <div class="category">
                <a href="{% url 'wiki-category' category.pk %}">
                    {{ category.name }}
                    <div class="article">
                        {% for article in article %}
                            {{ article.title }}
                        {% endfor  %}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}